/* >>> pomodoro >>> */
#custom-pomodoro {
  color: @foreground;
  font-size: 13px;
  padding: 0 6px;
  margin: 3.5px 5px;
}
#custom-pomodoro.focus { color: #b9a7e6; }
#custom-pomodoro.break { color: #d3c6f2; }
#custom-pomodoro.paused { color: #a5a0c0; opacity: 0.75; }
/* <<< pomodoro <<< */
